<!DOCTYPE html>
<html>
<head>
    <title>shouye</title>
    <link rel="stylesheet" type="text/css" href="css/one.css">
    <script src="js/vue.min.js"></script>
</head>
<body>
    <div class="one">这是第一个div</div>
    <div id="app" class="two">
        <div v-for="item in alldata">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <a :href="item.href">点击跳转</a>
        </div>
        <div v-for="item in customdata">
            <h3>{{item.title}}</h3>
            <h3>{{item.description}}</h3>
            <img :src="'upload/'+item.src" width="100" height="100"/>
        </div>
    </div>
    <ul>
        <li class="border-1">1</li>
        <li class="border-2">2</li>
        <li class="border-3">3</li>
        <li class="border-4">4</li>
        <li class="border-5">5</li>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3"></script>
    <script src="js/index.js"></script>
</body>
</html>


<!-- 
 -->

